.main {
  width: 30%;
  height: 300px;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 100px;
  border-radius: 10px;
  background-color: rgb(236, 231, 231);
}
#number {
  margin-top: 30px;
  margin-left: 100px;
  padding: 10px;
}
h1 {
  padding-top: 20px;
  text-align: center;
}
button {
  margin-left: 140px;
  margin-top: 50px;
  padding: 10px 20px;
  border-radius: 6px;
  font-size: 20px;
}
h1 + p {
  text-align: center;
}
