*{
        
    font-family: Roboto Condensed, Arial, Helvetica, sans-serif;
    color: grey

        }
   
        .flex{
            display: flex;
            align-items: center;
        }
        .follow{
           display: flex;
            align-items: center;
            justify-content: space-around;
           
        }
        .follow>div{
           border-radius:2px;
        }
        
   
   
       #footer{
           margin: auto;
           padding:10px;
       }
       #info{
          
           height: 280px;
           display: flex;
           justify-content: space-between;
       }
       #left{
          
           width:74%;
       }
       #right{
           
           width:25%;
       }
       #one{
           
           height: 20%;
           display: flex;
           font-size:13px;
           justify-content: space-around;
           align-items: center;
           background-color: #F4F4F4;
           border-radius: 2px;
       }
       .logo{
           height:20px;
           margin:3px;
       }
       .logo:hover{
           cursor: pointer;
       }
       #two{
          
           height: 60%;
           font-size:13px;
           line-height: 10px;
           display: flex;
           justify-content: space-evenly;
           border-bottom: gray 1px solid;
       }
       #two>div{
           margin-top:5%;
       }
       #three{
           
           font-size: 13px;
           display: flex;
           justify-content: space-around;
           padding: 5px;
           border-bottom: gray 1px solid;
       }
       ul{
           list-style: none;
       }
       h4,li{
           margin: 5px;
       }
       h4{
           margin-bottom:10px;
       }
   
       p,li:hover{
           cursor: pointer;
       }
       #right>div{
           border : 1px solid white;
           font-size: 8px;
           background-color: #F4F4F4;
       }
       h3{
           margin: 10px;
       }
       #right>div:nth-child(1){
           margin-bottom: 5px;
       }
   
       .box{
           
           width:100px;
          
           border-radius: 4px;
           margin: auto;
           padding: 10px;
          display: flex;
          justify-content: space-around;
          background-color: white;
       }
       .box:hover{
           cursor: pointer;
       }
    
     
   
      #extra>div:nth-child(1){
        
          width:150px;
          margin: auto;
          margin-top:50px;
      }
      #extra>div:nth-child(2){
        
          width:500px;
          margin: auto;
          margin-top: 25px;
      }
      #extra>div:nth-child(3){
          
          height:100px;
          margin-top:25px;
      }
      h1{
          font-size:20px;
      }
       #i{
           width: 100%;;
           height: 100%;
       }
       #copy{
           font-size: 13px;
           width:350px;
           margin: auto;
           margin-top:30px;
           margin-bottom: 50px;
       }
       #line{
          
           margin-left:7px ;
           height:3px;
           width:500px;
       }
       #line>div:nth-child(1){  
           width:50%;
           background-color:#0082C3;
       }
       #line>div:nth-child(2){
       width:25%;
       background-color: #EC6607;
       }
       #line>div:nth-child(3){
       width:25%;
       background-color: #85BC4A ;
       }

       