*{
    font-family: Roboto condensed , Arial, Helvetica, sans-serif;
    color: #424453;
    text-decoration: none solid #424453;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px; */
}


.sac-smal {
  width: 100px;
  font-size: medium;
  font-weight: bold;
  margin-left: 10px;
  
}
.sac-large {
  display: flex;
  gap: 10px;
  width: 98%;
  height: 90%;
  margin-left: 30px;
  margin-right: 100px;
  margin: auto;
}
#sac-img {
  height: 70%;
  width: 100%;
}

.a {
  display: flex;
  gap: 10px;
  width: 100px;
  height: 45px;
  text-align: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: medium;
  padding: 4%;
  border-bottom: 40px solid #ffea29;
  border-right: 20px solid transparent;
  height: 15px;
}
#large {
  display: flex;
  gap: 30px;
}
.sac-la1 {
  width: 98%;
  margin: auto;
  margin-top: 30px;
 

  display: flex;
  gap: 40px;
  
}
.la {
  height: 400px;
  width: 400px;
}
.fas {
  color: orange;
}
.sac-rig {
  display: flex;
  justify-content: space-between;
  margin-top: 2%;
}
#sac-top {
  margin-top: 2%;
  margin-left: 1%;
}
